<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     <mapper namespace="com.cen.dubboprovider.mapper.MenuMapper">
          <select id="getMenu" resultType="Menu">
             select * from s_menu where flag=1 and parentid=0 order by morder
         </select>
          <select id="getSubMenu" parameterType="integer" resultType="Menu">
                 select * from s_menu where flag=1 and parentid=#{mid} order by morder
         </select>
     </mapper>