<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>menu</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
    <link href="/waves-0.7.5/waves.min.css" rel="stylesheet"/>
    <link href="/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
    <link href="/bootstrap/css/admin.css" rel="stylesheet"/>
    <script src="/bootstrap/js/jquery-3.2.1.min.js"></script>
    <link href="/bootstrap/css/bootstrap-table.css" rel="stylesheet"/>
    <style>
        /** skins **/
        #header{background: rgb(41, 161, 118)}
        .content_tab{background: rgb(41, 161, 118)}
        .s-profile>a{background: url("/image/lefttop.png")left top no-repeat}
        #signli li{
            text-align: center;
        }
        #signPanel{
            display: none;
        }
    </style>
</head>
<body>
<header id="header">
    <ul id="menu">
        <li id="guide" class="line-trigger">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>
        <li id="logo" class="hidden-xs">
            <a href="javascript:Tab.addTab('首页','#');">
                <img src="/image/logo.png"/>
            </a>
            <span id="system_title">管理系统</span>
        </li>
        <li class="pull-right"></li>
    </ul>
</header>
<section id="main">
    <!-- 左侧导航区 -->
    <aside id="sidebar">
        <!-- 个人资料区 -->
        <div class="s-profile">
            <a class="waves-effect waves-light" href="javascript:;">
                <div class="sp-pic">
                    <img src="/image/avatar.jpg"/>
                </div>
                <div class="sp-info">
                    <span th:text="${session.user.username}"></span>,您好！
                    <i class="zmdi zmdi-caret-down"></i>
                </div>
            </a>
            <ul class="main-menu">
                <li>
                    <a class="waves-effect" href="javascript:Tab.addTab('个人资料','/topage/userinfo');"><i class="zmdi zmdi-account"></i> 个人资料</a>
                </li>
                <li>
                    <a class="waves-effect" href="javascript:Tab.addTab('账号申请','/topage/applyaccount');"><i class="zmdi zmdi-account"></i> 申请账号</a>
                </li>
                <li>
                    <a class="waves-effect" href="/topage/login"><i class="zmdi zmdi-run"></i> 退出登录</a>
                </li>
            </ul>
        </div>
        <!-- /个人资料区 -->
        <!-- 菜单区 -->
        <ul class="main-menu" id="sysmenu">
        </ul>
        <!-- /菜单区 -->
    </aside>
    <!-- /左侧导航区 -->
    <section id="content">
        <div class="content_tab">
            <div class="tab_left">
                <a class="waves-effect waves-light" href="javascript:;"><i class="zmdi zmdi-chevron-left"></i></a>
            </div>
            <div class="tab_right">
                <a class="waves-effect waves-light" href="javascript:;"><i class="zmdi zmdi-chevron-right"></i></a>
            </div>
            <ul id="tabs" class="tabs">
                <li id="tab_home" data-index="home" data-closeable="false" class="cur">
                    <a class="waves-effect waves-light" href="javascript:">首页</a>
                </li>
            </ul>
        </div>
        <div class="content_main">
            <div id="iframe_home" class="iframe cur">
                <!--首页内容填充-->
                <!--<div>
                    <table id="signtable" class="table table-bordered"></table>
                </div>

                <div class="row">
                    <div class="col-md-2" style="background-color: #5957F8;box-shadow: 1px 1px 1px #F7F3F8, 1px 1px 1px #F7F3F8;">
                        序号
                    </div>
                </div>
                -->
                <div class="panel panel-default" id="signPanel">
                    <div class="panel-heading" style="text-align: center">
                        <h3 class="panel-title">待签核信息</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked" id="signli">
                            <!--<li class="active">-->
                                <!--<a href="javascript:Tab.addTab('账号申请','/topage/applyaccount');">-->
                                        <!--账号申请-->
                                    <!--<span class="badge pull-right">42</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>

                <!--<a class="waves-effect" href="javascript:Tab.addTab('账号申请','/topage/home');">test</a>-->
                <!--<iframe src="/topage/home" width="100%" height="100%" frameborder="0" scrolling="no"> </iframe>-->
                <!--/首页内容填充-->
            </div>
        </div>
    </section>
</section>
<footer id="footer"></footer>
<script src="/plugins/device.min.js"></script>
<script src="/waves-0.7.5/waves.min.js"></script>
<script src="/plugins/BootstrapMenu.min.js"></script>
<script src="/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/fullPage/jquery.fullPage.min.js"></script>
<script src="/plugins/jquery.cookie.js"></script>
<script src="/fullPage/jquery.jdirk.min.js"></script>
<script src="/bootstrap/js/admin.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/bootstrap-table.min.js"></script>
<script src="/bootstrap/js/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript">
    function getsubmenu(menuid){
        $.post('/menu/getsubmenu',{mid:menuid},function(data) {
            var subhtml = '';
            $.each(data,function (i,n) {
                subhtml += '<li><a class=\"waves-effect\" href=\"javascript:Tab.addTab(\''+n.menu_name+'\', \'/topage/'+n.url+'\');\">'+n.menu_name+'</a></li>';
            });
            //alert(subhtml);
            $('ul[id=menu_' + menuid + ']').append(subhtml);
        });
    }
    $(function () {
        //获取菜单
        $.post('/menu/getmenu',{},function (data) {
            //var sss = JSON.stringify(data);
            //alert(sss);
            var varhtml = '<li><a class="waves-effect" href="javascript:Tab.addTab(\'首页\',\'home\');"><i class="zmdi zmdi-home"></i> 首页</a></li>';
            $.each(data,function (i,n) {
                varhtml +='<li class="sub-menu system_menus system_1"><a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-accounts-list"></i>'+n.menu_name+'</a><ul id="menu_'+n.id+'"></ul></li>';
                getsubmenu(n.id);
            });
                varhtml+='<li><div class="upms-version">&copy; FENG V1.0.0</div></li>';
            //alert(varhtml);
            $("#sysmenu").append(varhtml);
        });
        //获取签核列表总信息
        $.post('/costform/getsignsum',{},function (data,status) {
            if(status == "success"&&data != ""){
                $("#signPanel").show();
                //表形式展示
                var lihtml = '';
                //var tablehtml ="<thead><tr><td>序号</td><td>单据类型</td><td>操作</td></tr></thead><tbody>"
                $.each(data, function (i, n) {
                    //li
                    lihtml +='<li class="active"><a href=\"javascript:Tab.addTab(\''+n.formtype+'签核\', \'/costform/formsignlist/'+n.formtype+'\');\">'+n.formtype+'<span class=\'badge pull-right\'>'+n.signsum+'</span></a></li>'
                    //tablehtml += "<tr><td>"+(i+1)+"</td><td>"+n.formtype+"</td><td><li class='active'><a href='/costform/getsignsum' class='active'>签核<span class='badge'>"+n.signsum+"</span></a></li></td></tr>"
                });
                //tablehtml += "</tbody>";

                $("#signli").append(lihtml);
            }
        });
    })
</script>
</body>
</html>