<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PR单据</title>
    <script src="/bootstrap/js/jquery-3.2.1.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link href="/bootstrap/css/bootstrap-table.css" rel="stylesheet"/>
    <script src="/bootstrap/js/bootstrap-table.min.js"></script>
    <script src="/bootstrap/js/bootstrap-table-zh-CN.js"></script>
    <script src="/bootstrap/js/My97DatePicker/WdatePicker.js"></script>
    <link rel="stylesheet" href="/jQueryFileUpload/css/jquery.fileupload.css">
    <script src="/jQueryFileUpload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/jQueryFileUpload/js/jquery.iframe-transport.js"></script>
    <script src="/jQueryFileUpload/js/jquery.fileupload.js"></script>
    <script src="/bootstrap/js/jquery.form.min.js"></script>
<style type="text/css">
    input{
        border:none #FFFFFF;
        border-bottom:#777777 solid 1px;
        background:transparent;
    }
    textarea{
        border:none #FFFFFF;
        border-bottom:#777777 solid 1px;
        background:transparent;
    }
    .bar {
        height: 18px;
        background: green;
    }
</style>

</head>
<body>
<div class="panel panel-primary">
        <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">PR单申请</h3>-->
        <!--</div>-->
        <div class="panel-body">
        <div class="text-center" style="font-size: 18px">深圳成丰电子有限公司</div>
        <div class="text-center" style="font-family: 华文行楷; font-size: 24px">Synchian Electianice Ea.. Ltd.  No.</div>
        <div class="text-center" style="font-size: 16px; text-decoration-line: underline">PURCHASE REQUISITION SHEET</div>
        <div class="container">
            <form id="prform" action="/costform/prform" enctype="multipart/form-data">
                <div class="row">
                    <div class="text-left">
                        Supliser:<input type="text" id="supliser" name="supplier">
                    </div>
                    <div class="text-right">
                        <input type="hidden" name="formtype" value="PR">
                        P/O.No.<input type="button" id="createformcode" value="生成" class="btn btn-primary btn-xs" data-toggle="tooltip" title="点击生成pr单号"> :<input type="text" id="formcode" name="formcode" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="text-left">
                        <span style="color: red">*</span>Dept:<select id="dept" name="dept"></select>
                    </div>
                    <div class="text-right">
                        Date:<input type="text" id="textdate" name="creatime" onclick="WdatePicker({dateFmt: 'yyyy-MM-dd', isShowToday: true})">
                    </div>
                </div>
                <br>
                <div>
                    <table class="table table-bordered" id="prtable">
                        <thead>
                        <tr>
                            <th>Part No.</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><label style="width: 15px">1</label> </td>
                            <td><input type="text" name="description"> </td>
                            <td><input type="text" name="quantity"> </td>
                            <td><input type="text" name="unitprice"> </td>
                            <td><input type="text" name="total"> </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="text-center">
                            <span class="btn btn-primary btn-xs glyphicon glyphicon-plus" id="btnadd" data-toggle="tooltip" title="新增">新增</span>
                            <span class="btn btn-warning btn-xs glyphicon glyphicon-trash" id="btndel" data-toggle="tooltip" title="删除">删除</span>
                        </div>
                    </div>
                    <div class="text-right">
                        Total:<input type="text" id="totalprice" name="totalprice">
                    </div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">附件</h3>
                        </div>
                        <div class="panel-body">
                            <!--<form id="uploadform" enctype="multipart/form-data">-->
                            <input type="file" name="file" id="myfile">
                            <div class="preview"></div>
                            <table class="table table-border" id="attatable" style="display: none">
                                <thead>
                                    <tr>
                                        <th>附件</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <!--<span class="btn btn-primary btn-xs glyphicon glyphicon-plus" id="addupload" title="新增">新增</span>-->
                                <!--<span class="btn btn-warning btn-xs glyphicon glyphicon-trash" id="delupload" data-toggle="tooltip" title="删除">删除</span>-->
                                <!--<span class="btn btn-primary btn-xs glyphicon glyphicon-upload" id="btnupload" data-toggle="tooltip" title="上传">上传</span>-->
                            <!--</form>-->
                        </div>
                    </div>
                    <br>
                    <span>Delivery:</span>
                    <div>
                        <textarea class="textarea" style="width: 100%" id="delivery" name="delivery"></textarea>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3"><span style="color: red">*</span><label>Originator:</label><input type="text" id="applyuser" th:value="${session.user.username}" name="originator" readonly="readonly"></div>
                        <div class="col-sm-3 visible-print-block"><label>Certified:</label><input type="text" id="certified" name="certified"></div>
                        <div class="col-sm-3 visible-print-block"><label>Checked:</label><input type="text" id="checked" name="checked"></div>
                        <div class="col-sm-3 visible-print-block"><label>Approved:</label><input type="text" id="approved" name="approved"></div>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <button type="button" id="btnsubmit" class="btn btn-primary glyphicon glyphicon-ok" onclick="return checksubmit()">提交</button>
                    <button type="reset" id="btnreset" name="btnreset" class="btn btn-primary glyphicon glyphicon-remove">清空</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //获取部门并绑定下拉框
        $.post('/dept/getdept',{},function (data) {
            var optionstring = '';
            $.each(data, function (i, n) {
                optionstring += "<option value=\"" + n.dept_name + "\" >" + n.dept_name + "</option>";
            });
            $("#dept").html("<option value='0'>-请选择-</option> " + optionstring);
        });
        //细项新增和删除
        $("#btnadd").click(function(){
            var index = $("#prtable tr").length;
           var tabledata = '<tr><td><label style="width:15px"</label>'+ index +'</td><td><input type="text" name="description"></td><td><input type="text" name="quantity"> </td> <td><input type="text" name="unitprice"> </td> <td><input type="text" name="total"> </td> </tr>';
           $("#prtable tbody").append(tabledata);
        });
        $("#btndel").click(function () {
            var index = $("#prtable tr").length;
            index = index-2;
            //alert(index);
            if(index == 0){
                return false;
            }else {
                $("#prtable tbody").find('tr').eq(index).remove();
            }
        });
        //计算总额
        $("#totalprice").click(function () {
            var price = 0
            //var s = "^(([0-9]+\\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\\.[0-9]+)|([0-9]*[1-9][0-9]*))$";//非负浮点
            $("input[name='total']").each(function (i,data) {
                var p = $(this).val();
                if(p != ''){
                    if(!isNaN(p) && p > 0){
                        price = parseFloat(price) + parseFloat($(this).val());
                    }else {
                        alert('Part No'+(i+1)+'请输入大于0的数字');
                        return false;
                    }
                }
            });
            $("#totalprice").val(price.toFixed(2));//保留两位小数
        });

        //动态附件新增和删除
        // $("#addupload").click(function () {
        //     var index = $("#uploadtable tr").length;
        //     var ss= '<tr><td><label>'+index+'</label></td><td><input type = "file" name="myfile2"</td></tr>';
        //     $("#uploadtable tbody").append(ss);
        // });
        // $("#delupload").click(function () {
        //     var index = $("#uploadtable tr").length;
        //     index = index-2;
        //     //alert(index);
        //     if(index == 0){
        //         return false;
        //     }else {
        //         $("#uploadtable tbody").find('tr').eq(index).remove();
        //     }
        // });
        //上传前检查单号
        $("#myfile").click(function () {
            var formcode = $("#formcode").val();
            if(formcode == ""){
                alert("请先填写单号");
                return false;
            }
        });
        //上传附件
        $("#myfile").fileupload({
                type: 'POST',
                dataType:'json',
                url: "/costform/uploadone",//文件的后台接受地址
                showDone: true,
                // add:function () {
                //     var formcode = $("#formcode").val();
                //     if(formcode == ""){
                //         alert("请先生成单号");
                //         //return false;
                //     }
                // },
                done:function (e, data) {//上传完成执行
                    //var ss = JSON.stringify(data);
                    //alert(data.files[0].name);
                    //if(data.textStatus == "success"){//不严谨
                     if(data.result != 0){
                        var i = $("#attatable tr").length;
                        if(i>0){
                            $("#attatable").show();
                        }
                         var keyid = data.result;
                        var trid = "attatableindex"+keyid;
                        var attahtml = "<tr id='"+trid+"'><td><label>"+data.files[0].name+"</label></td><td><span class='btn btn-warning btn-xs glyphicon glyphicon-trash' onclick='delAttaTabletr("+trid+", "+keyid+")'></span> </td></tr>";
                        //var attahtml = "<tr id='"+trid+"'><td><label>"+data.files[0].name+"</label><input type='hidden' name='fileatta' value='"+data.result+"'></td><td><span class='btn btn-warning btn-xs glyphicon glyphicon-trash' onclick='delAttaTabletr("+trid+")'></span> </td></tr>";
                        $("#attatable tbody").append(attahtml);
                        //$(".preview").append("<div>"+data.result+"</div>");
                    }
                    // if(data.result.status){
                    //     $(".preview").append("<div style='margin-top:10px;'><img src="+data.result.previewSrc+"></div>");
                    // }
                },
                // always:function (e, status, data) {
                //     var ss = JSON.stringify(data);
                //     alert(ss+"always");
                // },
                error:function (e,data) {
                    var ss = JSON.stringify(data);
                    alert(ss);
                },
                fail:function(e, data){
                    alert(data.result);
                }
        });
        $('#myfile').bind('fileuploadsubmit', function (e, data) {
            data.formData = { formcode: $("#formcode").val() };  //如果需要额外添加参数可以在这里添加
        });
        // $("#myfile").fileinput({
        //     language: 'zh', //设置语言
        //     uploadUrl: '/applyform/applypr', //上传的地址
        //     //allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀
        //     showUpload: true, //是否显示上传按钮
        //     showCaption: false,//是否显示标题
        //     browseClass: "btn btn-default", //按钮样式
        //     enctype: 'multipart/form-data',
        //     showPreview : true,
        //     uploadAsync: true,//异步上传,默认
        //     dropZoneEnabled: false,
        //     maxFileSize: 0,
        //     previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        // }).on("fileerror",function (data) {
        //     alert(data);
        // }).on("fileuploaded",function (data) {
        //     alert(data);
        // });
        //生成PR单号
        $("#createformcode").click(function () {
            var dept = $("#dept").val();
            if(dept !="0"){
                $.post("/costform/createformcode",{dept:dept},function (data,status) {
                    if(status == "success"){
                        $("#formcode").val(data);
                    }else{
                        alert(status);
                        return false;
                    }
                });
            }else {
                alert("请选择部门");
                return false;
            }
        });
        $("#btnsubmit").click(function () {
            $("#prform").attr("action", "/costform/prform");
            $("#prform").ajaxSubmit(function (data) {
                if(data == "success"){
                    $("#prform")[0].reset();
                    $("#attatable tbody").html("");
                    alert(data);
                }else {
                    alert(data);
                }
            })
        })
    })
        // .success(function (result, textStatus, jqXHR) {/* ... */})
        // .error(function (jqXHR, textStatus, errorThrown) {/* ... */})
        // .complete(function (result, textStatus, jqXHR) {/* ... */});
    // function delFileatta() {
    //     alert(index);
    //     $("#attatable tbody tr td").find('span').click(function () {
    //         alert($(this).index());
    //     });
    //     $("#attatable tbody").find('tr').eq(index-1).remove();
    // }
    //删除附件
    function delAttaTabletr(trid,keyid) {
        if(confirm("确定删除")){
            $(trid).remove();
            $.post("/costform/delatta", {keyid:keyid}, function (data,status) {
                if(status == "success"&&data > 0){
                    alert("delete success");
                }
            })
        }

        //$("#uploadtable tbody").find('tr').eq(index).remove();
    }
    function checksubmit() {
        //var datetest = "/^[0-9]{4}-[0-1]?[0-9]{1}-[0-3]?[0-9]{1}$/";
        var dept = $("#dept").val();
        if(dept=='0'){
            alert("请填写部门信息!");
            return false;
        }
        var supliser = $("#supliser").val();
        if(supliser == ""){
            alert("请完善supliser信息");
        }
        var textdate = $("#textdate").val();
        if(textdate == ""){
            alert("请选择日期!");
            return false;
        }
        // if(datetest.test(textdate)){
        //     alert("日期格式有误,请从日历上参照选择!");
        //     return false;
        // }
        var totalprice = $("#totalprice").val();
        if(totalprice == ""||totalprice <= 0){
            alert("total is null");
            return false;
        }
        var applyname = $("#originator").val();
        if(applyname == ""){
            alert("Originator is null");
            return false;
        }
    }
</script>
</body>
</html>